@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
    --color-primary: #006241;
    --color-secondary: #d50032;
    --color-extra: #d4e9e2;
    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: #000;
}

a {
    color: #000;
}

ul {
    list-style: none;
}

p {
    margin: 5px 0;
    line-height: 1.7;
}

img { max-width: 100%;
}

/* Navbar */
.navbar {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
   margin: 0 15px;
   font-weight: bold;
}

.navbar a {
    color: #000;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--color-primary);
}

.navbar-brand img {
    width: 50px;
    height: 50px;
}

.navbar-nav-left {
    text-transform: uppercase;
}

.navbar-nav-right img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    }